body{
    background-image: url(../images/wp2309722-ouija-wallpapers.jpg);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:whitesmoke;
    text-align:center;
}

h1,h2{
    font-size: 40px;
}

p{
    font-size: 25px;
}

